.activity-container {
	padding: 80px auto;
 }
 
 .activity {
	display: flex;
	align-items: center;
	padding: 32px 0;
 }
 
 .activity--aligned-right {
	flex-direction: row-reverse;
	justify-content: flex-end;
 }
 
 .activity--aligned-right .activity__image {
	margin-left: 126px;
	margin-right: 0;
 }
 
 .activity__image {
	margin-right: 126px;
 }
 
 .activity__description {
	margin-top: 24px;
	max-width: 584px;
 }