.button {
	padding: 14px 16px;
	background: #0E1734;
	border-radius: 4px;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

.button__right-icon {
	vertical-align: middle;
	margin-left: 12px;
}

.button--variant--ghost {
	padding: 0;
	color: #424F7B;
	background: none;
}

.button:hover, .button:active, .button:focus {
	opacity: .9;
}

.button__down-icon {
	display: inline-block;
	background: url(../image/Iconly/Light/Arrow\ -\ Down\ 2.svg);
	padding: 16px;
	background-color: #FFECE2;
	border-radius: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}