.button {
	padding: 14px 16px;
	background: #0E1734;
	border-radius: 4px;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

.button__right-icon {
	vertical-align: middle;
	margin-left: 12px;
}

.button--variant--ghost {
	padding: 0;
	color: #424F7B;
	background: none;
}

.button:hover, .button:active, .button:focus {
	opacity: .9;
}
