.food {
	display: flex;
	align-items: center;
	padding-bottom: 80px;
}

.food__image-right {
	margin-left: 126px;
}

.food__image-left {
	margin-right: 126px;
}

.food__description {
	margin-top: 24px;
	font-weight: 400;
	max-width: 584px;
}
