.offer {
	padding: 80px 0 80px 0;
	display: flex;
	align-items: center;
}

.offer__image {
	margin-right: 126px;
}

.offer__description {
	margin-top: 24px;
	font-weight: 400;
	max-width: 584px;
}

.offer__button {
	margin-top: 32px;
}

.offer__description-2 {
	margin-top: 16px;
}